.filter-main-wrapper {
    .filter-option {
        padding:10px 30px;
        text-align: left;
        .fa-sort {
             font-size: 24px;
             vertical-align: middle;
         } 
         span {
             font-weight: 600;
             padding-left: 5px;
             vertical-align: middle;
         }
     }
     .filter-btn {
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        padding: 5px 30px;
        color: white;
        font-weight: 600;
        letter-spacing: 1px;
     }
    
}