.container-fluid {
    font-family: "Verdana, Geneva, sans-serif";
    font-size: 16px;
    padding:0px;
   
    .row {
        margin:0px;
    }

    .footer-wrapper {
        .footer-section {
            position: fixed;
            bottom: 0;
            width: 100%;
            padding:10px;
        }
    }
   
}
